input{
    border: 2px solid black;
}

#firstname, #lastname{
    padding-top: 10px;
    height: 20px;
    width: 150px;
}

#email{
    height: 20px;
    width: 250px;
}

#submit{
    margin-left: 180px;
    height: 30px;
    width: 80px;
}

fieldset{
    margin: 40px 0 0 500px;
    width: 450px;
    font-size: 25px;
}
label{
    font-size: 20px;
    font-family: monospace;
}